{% extends "layouts/master_layout.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="page-wrapper">
   <div class="content container-fluid">
      <div class="page-header">
         <div class="row align-items-center">
            <div class="col">
               <h3 class="page-title">Add College</h3>
               <ul class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{{ url_for('.college_list') }}">College</a></li>
                  <li class="breadcrumb-item active">Add College</li>
               </ul>
            </div>
         </div>
      </div>
      <form action ="{{ url_for('.college_add') }}" method="POST" >
         <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <div class="row">
         <div class="col-sm-12">
            <div class="card">
               <div class="card-body">
                  <div class="row">
                     <div class="col-12">
                     <h5 class="form-title"><span>College Details</span></h5>
                     </div>
                     <div class="col-12 col-sm-6">
                     <div class="form-group">
                     <label>College Code</label>
                     {{ form.college_code(class_="form-control") }}
                  </div>
                     </div>
                     <div class="col-12 ">
                     <div class="form-group">
                     <label>College Name</label>
                     {{ form.college_name(class_="form-control") }}
                  </div>
                     <div class="col-12">
                        {{ form.submit(class_="btn btn-primary" , style_="font-size: 1.5rem") }}
                     </div>
                     </div>
               </div>
            </div>
         </div>
      </form>
      </div>
   </div>
</div>
{% endblock %}

{% block scripts%}
   {{super()}}
      <script src=" {{url_for('static', filename = 'js/jquery-3.6.0.min.js')}}"></script>
      <script src="{{url_for('static', filename = 'js/popper.min.js')}}"></script>
      <script src=" {{url_for('static', filename = 'js/bootstrap.min.js')}} "></script>
      <script src=" {{url_for('static', filename = 'js/jquery.slimscroll.min.js')}}"></script>
      <script src="{{url_for('static', filename = 'js/script.js')}}"></script>
{% endblock %}