{% extends "layouts/master_layout.html" %}

{% block content %}
<div class="page-wrapper">
   <div class="content container-fluid">
      <div class="page-header">
         <div class="row">
            <div class="col-sm-12">
               <h3 class="page-title">College Details</h3>
               <ul class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{{url_for ('.college_list')}}">College</a></li>
                  <li class="breadcrumb-item active">College Details</li>
               </ul>
            </div>
         </div>
      </div>
      <div class="card">
         <div class="card-body">
            <div class="row">
               <div class="col-md-12">
                  <div class="about-info">
                     {% for info in data %}
                     <ul>
                        <li>
                           <span class="title-span">College Code : </span>
                           <span class="info-span">{{info[0]}}</span>
                        </li>
                        <li>
                           <span class="title-span">College Name : </span>
                           <span class="info-span">{{info[1]}}</span>
                        </li>
                     </ul>
                     {% endfor %}
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}

{% block scripts%}
   {{super()}}
      <script src=" {{url_for('static', filename = 'js/jquery-3.6.0.min.js')}}"></script>
      <script src="{{url_for('static', filename = 'js/popper.min.js')}}"></script>
      <script src=" {{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>
      <script src="{{url_for('static', filename = 'js/jquery.slimscroll.min.js')}}"></script>
      <script src=" {{url_for('static', filename = '/js/script.js')}} "></script>
{% endblock %}