{% extends "layouts/master_layout.html" %}

{% block content %}
<div class="page-wrapper">
   <div class="content container-fluid">
      <div class="page-header">
         <div class="row">
            <div class="col-sm-12">
               <h3 class="page-title">Welcome Admin!</h3>
               <ul class="breadcrumb">
                  <li class="breadcrumb-item active">Dashboard</li>
               </ul>
            </div>
         </div>
      </div>
   </div>
         <div class="row" style="justify-content: center">
      <!-- number of students -->
                  <div class="col-xl-3 col-sm-6 col-12 d-flex" style = "padding: 1.5rem; margin-left: 3rem ;margin-right: 3rem">
                     <div class="card bg-one w-100">
                        <div class="card-body">
                           <div class="db-widgets d-flex justify-content-between align-items-center">
                              <div class="db-icon">
                                 <i class="fas fa-user-graduate"></i>
                              </div>
                              <div class="db-info">
                                 <h3>{{stud_num}}</h3>
                                 <h6>Students</h6>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>

      <!--number of courses-->
                  <div class="col-xl-3 col-sm-6 col-12 d-flex" style = "padding: 1.5rem; margin-left: 3rem ;margin-right: 3rem">
                     <div class="card bg-two w-100">
                        <div class="card-body">
                           <div class="db-widgets d-flex justify-content-between align-items-center">
                              <div class="db-icon">
                                 <i class="fas fa-book-reader"></i>
                              </div>
                              <div class="db-info">
                                 <h3>{{course_num}}</h3>
                                 <h6>Courses</h6>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>

      <!--number of colleges-->
                  <div class="col-xl-3 col-sm-6 col-12 d-flex" style = "padding: 1.5rem; margin-left: 3rem ;margin-right: 3rem">
                     <div class="card bg-three w-100">
                        <div class="card-body">
                           <div class="db-widgets d-flex justify-content-between align-items-center">
                              <div class="db-icon">
                                 <i class="fas fa-building"></i>
                              </div>
                              <div class="db-info">
                                 <h3>{{college_num}}</h3>
                                 <h6>Colleges</h6>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
         </div>
      

{% endblock %}

{% block scripts%}
   {{super()}}
      <script src=" {{url_for('static', filename = 'js/jquery-3.6.0.min.js')}}"></script>
      <script src="{{url_for('static', filename = 'js/popper.min.js')}}"></script>
      <script src=" {{url_for('static', filename = 'js/bootstrap.min.js')}} "></script>
      <script src=" {{url_for('static', filename = 'js/jquery.slimscroll.min.js')}}"></script>
      <script src="{{url_for('static', filename = 'js/script.js')}}"></script>
      <script src="{{url_for('static', filename = 'js/apexcharts.min.js')}}"></script>
      <script src="{{url_for('static', filename = 'js/chart-data.js')}}"></script>
{% endblock %}