{% extends "layouts/master_layout.html" %}

{% block content %}
<div class="page-wrapper">
   <div class="content container-fluid">
      <div class="page-header">
         <div class="row">
            <div class="col-sm-12">
               <h3 class="page-title">Welcome Admin!</h3>
               <ul class="breadcrumb">
                  <li class="breadcrumb-item active">Dashboard</li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}

{% block scripts%}
   {{super()}}
      <script src=" {{url_for('static', filename = 'js/jquery-3.6.0.min.js')}}"></script>
      <script src="{{url_for('static', filename = 'js/popper.min.js')}}"></script>
      <script src=" {{url_for('static', filename = 'js/bootstrap.min.js')}} "></script>
      <script src=" {{url_for('static', filename = 'js/jquery.slimscroll.min.js')}}"></script>
      <script src="{{url_for('static', filename = 'js/script.js')}}"></script>
      <script src="{{url_for('static', filename = 'js/apexcharts.min.js')}}"></script>
      <script src="{{url_for('static', filename = 'js/chart-data.js')}}"></script>
{% endblock %}