{% extends "layouts/master_layout.html" %}

{% block content %}
<div class="page-wrapper">
   <div class="content container-fluid">
      <div class="page-header">
         <div class="row align-items-center">
            <div class="col">
               <h3 class="page-title">Students</h3>
               <ul class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{{ url_for('.dashboard') }}">Dashboard</a></li>
                  <li class="breadcrumb-item active">Students</li>
               </ul>
            </div>
            <div class="col-auto text-right float-right ml-auto">
               <a href="{{ url_for('.stud_add') }}" class="btn btn-primary"><i class="fas fa-plus"></i></a>
            </div>
         </div>
      </div>

      <div class="row">
         <div class="col-sm-12">
            <div class="card card-table">
               <div class="card-body">
                  <div class="table-responsive">
                     <table class="table table-hover table-center mb-0 datatable">
                        <thead>
                           <tr>
                              <th>ID No.</th>
                              <th>Name</th>
                              <th>Course</th>
                              <th>Year</th>
                              <th>Gender</th>
                              <th class="text-right">Action</th>
                           </tr>
                        </thead>
                        {% for student in data %}
                           <tr>
                              <td><a href = "{{ url_for('.stud_open', id = student[0] ) }}">{{student[0]}}</a></td>
                              <td>{{student[1]}}</td>
                              <td>{{student[2]}}</td>
                              <td>{{student[3]}}</td>
                              <td>{{student[4]}}</td>
                              <td class="text-right">
                              <div class="actions">
                                 <a href="{{ url_for('.stud_edit', id = student[0] ) }}" class="btn btn-sm bg-success-light mr-2">
                                    <i class="fas fa-pen"></i>
                                 </a>
                                 <a href="{{ url_for('.stud_delete', id = student[0] ) }}" class="btn btn-sm bg-danger-light">
                                    <i class="fas fa-trash"></i>
                                 </a>
                              </div>
                              </td>
                           </tr>
                           {% endfor %}
                     </table>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}

{% block scripts%}
   {{super()}}
      <script src=" {{url_for('static', filename = 'js/jquery-3.6.0.min.js')}}"></script>
      <script src="{{url_for('static', filename = 'js/popper.min.js')}}"></script>
      <script src=" {{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>
      <script src="{{url_for('static', filename = 'js/jquery.slimscroll.min.js')}}"></script>
      <script src=" {{url_for('static', filename = 'js/datatables.min.js')}}"></script>
      <script src=" {{url_for('static', filename = 'js/script.js')}} "></script>
{% endblock %}